body{
    margin:0px;
}

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding:38px;
}

.nav-wrapper-left{
    display: flex;
    
}
.nav-wrapper-left>div{
    margin-right: 20px;
    font-size: 0.90rem;
    text-transform: uppercase;
    text-decoration: none;
    
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition:border-bottom 0.5s;
}

.nav-link-wrapper>a{

    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}


.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
   color:black;
   
}
.portfolio-item-wrapper{
position: relative;
}

.portfolio-background-image{
    height:250px;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
}

.subtitle{
    position: absolute;
    top:20%;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    color: transparent;
    transition: color 0.5s;
    font-size: 1.5rem;
    font-weight: 600;
}

.subtitle:hover{
    color: violet;
    
    font-size: 1.5rem;
    font-weight: 600;
}

.img-darker{
    transition: 1s;
    filter: brightness(10%);
   }